<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoRestarter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Auto_Restarter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WinFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoRestarter.Properties.Settings>
            <setting name="Seconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Minutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WebhookToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PingUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowConsole" serializeAs="String">
                <value>True</value>
            </setting>
        </AutoRestarter.Properties.Settings>
        <Auto_Restarter.Properties.Settings>
            <setting name="Seconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Minutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Webhook" serializeAs="String">
                <value />
            </setting>
            <setting name="WebhookToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrivateServerLink" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountNumbers" serializeAs="String">
                <value />
            </setting>
        </Auto_Restarter.Properties.Settings>
        <WinFormsApp1.Properties.Settings>
            <setting name="Seconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Minutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Webhook" serializeAs="String">
                <value />
            </setting>
            <setting name="WebhookToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrivateServerLink" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountNumbers" serializeAs="String">
                <value />
            </setting>
        </WinFormsApp1.Properties.Settings>
    </userSettings>
</configuration>